h3,ul{margin:0px;padding:0px;}/*默认的要reset掉*/
ul{list-style:none;}
li h3 {font-size:14px;font-weight:400px;}
li{
	display:block;
	height:31px;line-height:31px;overflow:hidden;
	border-bottom:1px solid #dedede;
}
li i {background:url(http://sandbox.runjs.cn/uploads/rs/306/ketwmdpx/sidebar.png);
display:inline;width:30px;height:24px;float:left;
margin:3px 10px 0 0;
}
.cat{
  width:150px;
	background:#f8f8f8;
	border:1px solid #bbb;
}
.cat1 i{background-position:0 0;}
.cat2 i{background-position:0 -24px;}
.cat3 i{background-position:0 -48px;}
.cat4 i{background-position:0 -72px;}
.cat5 i{background-position:0 -96px;}
.cat6 i{background-position:0 -120px;}
.cat7 i{background-position:0 -144px;}
.cat8 i{background-position:0 -168px;}
.cat9 i{background-position:-40px  0;}
/*横纵坐标的变化*/
